@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Helpers
@{
    var roles = this.GetRoles();
}
<div id="account-header">
    <div id="account-controls">
        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators))
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @K9.Base.Globalisation.Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav">
                        <li class="@ViewContext.GetActiveClass("Index", "Contacts") sub-item"><a href="@Url.Action("Index", "Contacts")">@Dictionary.Contacts</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Log") sub-item"><a href="@Url.Action("Index", "Log")">@Dictionary.ErrorLog</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@K9.Base.Globalisation.Dictionary.Roles</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@K9.Base.Globalisation.Dictionary.Role @K9.Base.Globalisation.Dictionary.Permissions</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@K9.Base.Globalisation.Dictionary.Users</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@K9.Base.Globalisation.Dictionary.UserRoles</a></li>
                    </ul>
                </li>
            </ul>
        }
        <ul class="site-controls">
            <li class="@ViewContext.GetActiveClass("Index", "Support")"><a title="@Dictionary.Support" href="@Url.Action("Index", "Support")"><i class="fa fa-question-circle"></i><span class="site-controls-text"> @Dictionary.Support</span></a></li>
            @if (WebSecurity.IsAuthenticated)
            {
                <li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a title="@K9.Base.Globalisation.Dictionary.MyAccountTitle" href="@Url.Action("MyAccount", "Account")"><i class="fa fa-user-circle"></i><span class="site-controls-text"> @K9.Base.Globalisation.Dictionary.MyAccountTitle</span></a></li>
            }
            @Html.LoginLogout()
        </ul>
    </div>
</div>
<div id="main-logo-container" class="menu-main">
    <a class="@ViewContext.GetActiveClass("Index", "Home")" href="@Url.Action("Index", "Home")"><div class="main-logo default-logo" alt="@Dictionary.Keywords"></div></a>
</div>
<div id="main-menu-container" class="menu-main">
    <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse menu-main" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav main-navbar">
                        @if (WebSecurity.IsAuthenticated && roles.CurrentUserIsInRoles(RoleNames.PowerUsers, RoleNames.Administrators))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "Allergens")"><a href="@Url.Action("Index", "Allergens")"> @Dictionary.Allergens</a></li>
                            <li class="@ViewContext.GetActiveClass("Index", "Dishes")"><a href="@Url.Action("Index", "Dishes")"> @Dictionary.Dishes</a></li>
                        }
                        else
                        {
                            <li></li>
                            <li></li>
                        }

                        <li class="@ViewContext.GetActiveClass("Index", "Home")"><a class="device-only" href="@Url.Action("Index", "Home")"> <span class="device-only">@K9.Base.Globalisation.Dictionary.Home</span></a></li>

                        @if (WebSecurity.IsAuthenticated && roles.CurrentUserIsInRoles(RoleNames.PowerUsers, RoleNames.Administrators))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "Suitabilities")"><a href="@Url.Action("Index", "Suitabilities")"> @Dictionary.Suitabilities</a></li>
                            <li></li>
                        }
                        else
                        {
                            <li></li>
                            <li></li>
                        }
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="main-menu-spacer">
    &nbsp;
</div>